nav {
  background-color: red;
  overflow: hidden;
  border-radius: 10px;
  height: 50px;
  }
  
  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  height: 50px;
  }
  
  nav li {
  float: left;
  width: 33.33%;
  }
  
  nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0;
  text-decoration: none;
  height: 50px;
  }
  
  nav li a:hover {
  background-color: #990000;
  border-radius: 10px;
  }

  .meny-bild {
  width: 75px;
  height: 75px;
}